.container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;


}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin-left: 5px;
}

.connected {
  background-color: #a7c957;

}

.disconnected {
  background-color: #D00000;
}
