.container {
  position: relative;
  min-height: 450px;
  padding: 20px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}




.searchingGif {
  width: 46px;
  height: 46px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo {
  width: 120px;
  height: 120px;
}

.consentContainer {
  margin-bottom: 20px;
}
