.container {
  position: relative;
  min-height: 400px;
  padding: 20px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 20px;
}

.selectContainer {
  margin-bottom: 20px;
  width: 100%;
}

.datePickerContainer {
  margin-bottom: 20px;
  width: 250px;
}

.timePickerContainer {
  margin-bottom: 20px;
  width: 250px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo {
  width: 140px;
  height: 140px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.consentContainer {
  margin-bottom: 20px;
}
