@use '../Styles/variables.scss' as v;

.container {
  position: relative;
  min-height: 400px;
  padding: 20px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: v.$background-primary-color;
  color:v.$white-color;
}

.inputContainer {
  margin-bottom: 20px;
  background-color: v.$light-gray-color;
  color: v.$white-color ;
}

.selectContainer {
  margin-bottom: 20px;
  width: 100%;
}

.datePickerContainer {
  margin-bottom: 20px;
  width: 250px;
}

.searchingGif {
  width: 46px;
  height: 46px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo {
  width: 140px;
  height: 140px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.consentContainer {
  margin-bottom: 20px;
}

.button{
  background-color: v.$light-blue-color;
  color: v.$white-color;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 40px;
}
.button:hover{
  color: v.$light-blue-color;
  border:1px solid green;
}
.text{
  color:v.$white-color;
}