.buttonContainer {
  display: flex;
  justify-content: center;
}

.messageContainer {
  display: flex;
  justify-content: center;
}

.warning {
  color: #f0ad4e
}

.error {
  color: #d9534f
}

.success {
  color: #4bb543
}

.centered {
  text-align: center;
}